@namespace ImpactSpace.Core.Blazor.Components
@inherits CoreComponentBase
@inject NavigationManager NavigationManager
<Jumbotron Background="Background.Default" Margin="Margin.Is4.FromBottom">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">Welcome to Impact Space!</JumbotronTitle>
    <JumbotronSubtitle>
        Are you ready to take your project to the next level?
    </JumbotronSubtitle>
    <Divider></Divider>
    <Paragraph>
        Impact Space is here to help you streamline your workflows, keep track of your milestones, and ensure your quests lead to success. Our intuitive platform is designed with your needs in mind, providing you with powerful tools to manage your projects effectively.
    </Paragraph>
</Jumbotron>

<Heading Size="HeadingSize.Is4"> With Impact Space, you can:</Heading>

<CardDeck Margin="Margin.Is4.FromBottom">
    <Card>
        <CardBody>
            <CardTitle>Create and manage milestones</CardTitle>
            <CardText>Customizable attributes like deadlines, budgets, priority levels, and status types.</CardText>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Associate quests or tasks</CardTitle>
            <CardText>Ensure a clear and organized workflow with each milestone.</CardText>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Collaborate with team members</CardTitle>
            <CardText>Allow for transparent communication and efficient delegation.</CardText>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Monitor progress</CardTitle>
            <CardText>Real-time updates on milestone completion, budget usage, and quest statuses.</CardText>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>User-friendly interface</CardTitle>
            <CardText>Designed to make project management as seamless as possible.</CardText>
        </CardBody>
    </Card>
</CardDeck>

<Paragraph>
    Impact Space is built on a robust, secure, and scalable framework, offering multi-tenancy support to accommodate organizations of all sizes. Our goal is to help you stay on track, meet your deadlines, and ultimately achieve your project objectives.
</Paragraph>

<Paragraph Margin="Margin.Is3.FromTop">
    Impact Space is currently in beta. If you would like to learn more about our platform, or if you have any questions or feedback, please contact us at [email]
</Paragraph>

<Button Color="Color.Primary" Clicked="NavigateToLogin" Margin="Margin.Is3.FromTop">
    <Icon Name="IconName.User"/> @L["Login"]
</Button>


@code {

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("Account/Login", true);
    }

}