<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <MaxRetryCount>1</MaxRetryCount>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/ImpactSpace.Core.EntityFrameworkCore/Migrations/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>